# Python
venv/
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.env
.env.*

# Django
*.migrations/

# Node
node_modules/
.next/
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# Others
*.bak
*.swp
.idea/
.vscode/ 